
@import url(./utils/css/luk.css);

:root {
/* --l-selection: #5F40A6;
    --l-bg-light: #eeeeee;
    --l-bg-transparent-light:#1d21253a;
    --l-bg-dark: #1D2125;
    --l-bg-transparent-dark:#4e63792a;
    --l-fg-light: #fff;
    --l-fg-dark: #24292E;
    --l-fg2-dark: #2F363D;
    --l-text-dark: #676E75;
    --l-border-dark: #1D2125;
     */
    --l-selection: #5F40A6;
    --l-bg-transparent-light:#1d21253a;
    --l-bg-dark: #090909;
    --l-bg-transparent-dark:#4e63792a;
    --l-fg-dark: #1C1C1E;
    --l-fg2-dark: #2F2E31;
    --l-text-dark: #CFCFCF;
    --l-border-dark: #2F2E31;
    --l-primary-dark:rgb(252, 145, 44);

    --l-white-dark: #f1f1f1;

    --vc-off-color: var(--l-bg-dark);
    --vc-on-color: var(--l-fg2-dark);
    --vc-on-font-color: var(--l-text-dark);
    --vc-off-font-color: var(--l-text-dark);


  }

  
  

  *{
    border-color: var(--l-border-dark) !important;
  }

.l-bg{
    
    background: var(--l-bg-dark) !important;
}
.l-fg{
    background: var(--l-fg-dark) !important;
}
.l-text{
    color: var(--l-text-dark) !important;
}

body{
    width: 100vw;
    height: 100vh;
   
}

html{
    overflow: hidden;
}


[l-class*="bg-white"]{
    background: white;
}






.menu{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 100vh;
    background: var(--l-bg-dark);
    opacity: 0.1;
    transition: 0.3s;
    overflow-x: hidden;
    padding: 0px;
    box-shadow: 0px 0px 5px rgba(34, 34, 34, 0.164);
    color: rgb(80, 80, 80);
}

.menu:hover{
    opacity: 1;
    width: 300px;
    padding: 10px;
}

.selected{
    outline: 2px solid rgba(65, 158, 245, 0.651);
}

.higlighted{
    outline: 2px solid rgba(65, 128, 245, 0.781);
}

.select:not(.selected):hover {
   outline: 2px solid rgba(173, 81, 81, 0.171);
}

.quickpanel{
    width: 600px;
    min-height: 200px;
    background: var(--l-fg-dark);
    border-radius: 10px;
    position: fixed;
    top: 50vh;
    right: 50vw;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.205);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.quickpanel input{
    padding: 5px;
    border: none;
    outline: none;
    font-size: 20pt;
    color: var(--l-text-dark);
    background: var(--l-fg-dark);
    border-bottom: 1px solid ;
}

.subtext{
    font-size: 9pt;
    color: var(--l-text-dark);
}

.quickpanel .body{
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.quickpanel .body ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.quickpanel .body ul li{
 
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    color: var(--l-text-dark);
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

.quickpanel .body ul li:hover{
    background-color: var(--l-bg-dark);
}


*::-webkit-scrollbar {
    width: 12px;
}
 
*::-webkit-scrollbar-track {
    background: var(--l-bg-dark); 
    border-radius: 10px;
}
 
*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--l-text-dark); 
}

.l-text-edition{
    padding: 0px !important;
    margin: 0px !important;
    border: none !important;
    background: transparent !important;
    outline: none !important;
}

.ic-toolBox{
    padding-left: 5px;
    padding-right: 5px;
    position: fixed;
    width: 60vw;
    height: 40px;
    background: var(--l-fg-dark);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    top:10px;

    left: 30%;
    transform: translateX(-30%);

    /*
    Centralizar no eixo Y
    top: 50%;
    transform: translateY(-50%);

    Centralizar tudo.
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    */
}

.ic-toolBox {
    color: var(--l-text-dark);
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.ic-toolBox .pickr{
    padding: 2px;
    margin-right: 10px;
}

.cl-btn{
    padding: 5px 10px !important;
    background: var(--l-fg-dark);
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 3px;
    color: var(--l-text-dark);
    margin: 2px;
    position: relative;
}

.pickr .pcr-button{
    width: 20px !important;
    height: 20px !important;
    border-radius: 100% !important;
    overflow: hidden;
    margin: 2px;
}

.lic-btn-downpdown{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
   
    background: var(--l-fg-dark);
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
}

.lic-btn{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background: var(--l-fg-dark);
    transition: 0.3s;
}
.lic-btn:hover{
    background: var(--l-bg-dark);
}

.lic-btn-block{
    width: 100%;
}
.cl-btn:hover{
    background: var(--l-bg-dark);
}

.cl-bg-danger{
    background: #FD413C !important;
}
.cl-bg-primary{
    background: #5F40A6 !important;
}
.cl-tc-danger{
    color: #FD413C !important;
}
.cl-tc-primary{
    color: #5F40A6 !important;
}

.cl-ct-white{
    color: #fff !important;
}

.cl-vl{
    border-left: 1px solid ;
    height: 90%;
    margin-top: 2px;
}

.cli-icon{
    width: 15px;
    height: 15px;
    background-color: var(--l-text-dark);
    mask: var(--icon) 100 no-repeat ;
    -webkit-mask: var(--icon) no-repeat  ;
    -webkit-mask-size: 100% 100%;
    mask-type: alpha;
}

.bg-img{
  
    background-color: var(--l-text-dark);
    mask: var(--icon) 100 no-repeat ;
    -webkit-mask: var(--icon) no-repeat  ;
    -webkit-mask-size: 100% 100%;
    mask-type: alpha;
}


#lic-canvas{
    position: absolute;
    display: flex;
   
    flex-direction: column;
    top: 0px;
}

#lic-canvas .lic-line{
    display: flex;
    flex-direction: row;
}

.lic-page{
   
    
    box-shadow: 0px 0px 20px rgba(34, 34, 34, 0.164);
    margin:100px;
    position: relative;
}

.lic-page .app{
    width: 1280px;
    height: 100vh;
    background: #fff;
}


.lic-contextMenu{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 250px;
    min-height: 100px;
    background: var(--l-fg-dark);
    box-shadow: 0px 0px 20px rgba(34, 34, 34, 0.164);
    border-radius: 5px;
    padding: 2px;
    border: 2px solid;

}

.lic-contextMenu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0px !important;
    cursor: pointer;
   
}
.lic-contextMenu ul li{
    padding: 0px;
    display: flex;
    justify-content: space-between;
    color:var(--l-text-dark);
    padding: 5px 10px !important;
    font-size: 10pt;
}

.lic-contextMenu ul li:hover{
    background: var(--l-bg-dark);
}

.tip{
    opacity: 0.5;
}

.lic-side-menu{
    position: fixed;
    width: 300px;
    height: 100vh;
    right: 0;
    background: var(--l-fg-dark);
    border-left: 2px solid rgba(179, 179, 179, 0.247);
}
.lic-side-menu .component{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    border-bottom: 1px solid;
}
.lic-pa-0{
    padding: 0px !important;
}

.outliner{
    width: 250px;
    height: 100vh;
    background: var(--l-fg-dark);
    position: fixed;
    z-index: 2;
    left: 0;
    border-right: 2px solid ;
    overflow-y: auto;
}

*::selection{
    background: none;
}

input::selection{
    background: var(--l-selection);
    color: #fff;
}
.outliner ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
   
}

.outliner ul .l-ul-child{
    padding-left: 10px;
}

.outliner ul  i{
   color: var(--l-text-dark) !important;
}

.outliner ul li{
    /* padding: 4px 10px; */
    padding-top: 5px;
    border: 1px solid transparent !important;
    border-left: 3px solid ;
    border-radius: 5px;
    cursor: default;
    display: flex;
    flex-direction: column;
    
}
.outliner ul li:hover{
    border: 1px solid var(--l-border-dark) !important;
    background: var(--l-bg-transparent-dark);
}

.tippy-box[data-theme~='light'] {
    background-color: var(--l-fg2-dark);
    color: rgb(160, 160, 160);
    box-shadow: 0px 0px 20px rgba(34, 34, 34, 0.164);
  }


  .tippy-box[data-theme~='light'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: var(--l-fg2-dark);
  }
  .tippy-box[data-theme~='light'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: var(--l-fg2-dark);
  }
  .tippy-box[data-theme~='light'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: var(--l-fg2-dark);
  }
  .tippy-box[data-theme~='light'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: var(--l-fg2-dark);
  }
  


.l-outline-selection{
    border: 1px solid  !important;
    background: var(--l-bg-transparent-dark);
}

.l-layer-outliner-title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.l-pb-4{
    padding-bottom: 10px;
}

[l-class*="align-center"]{
    
   align-content: center;
}



[l-class*="input-container"]{
    border: 1px solid transparent !important;
    background: var(--l-fg-dark);
    display: flex;
    
}
[l-class*="input-container"]:hover{
    border: 1px solid var(--l-border-dark) !important;
}
[l-class*="input-container"] [l-class*="input-"]{
  
    background: var(--l-fg-dark) !important;
    border: none;
    color: var(--l-text-dark);
    outline: none;
}

[l-class*="input-container"] [l-class*="input-number"]{
  width: 80px;
}
[l-class]{
    font-size: 9pt !important;
}

[l-class*="icon-small"]{
    max-width: 5px !important;
    max-height: 5px !important;
    font-size: 9pt;
    padding: 4px 5px;
}

[l-id~="selection-light"]{
    background: transparent;
    pointer-events: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    border: 2px solid #0278c780 !important;
}

[l-class*="circle"]{
    width: 10px;
    height: 10px;
   
    position: absolute;
    border: 2px solid #0278c780 !important;
    background: #fff;
}
[l-class*="top-l-0"]{
    top: -5px;
    left: -5px;
}

[l-class*="bottom-l-0"]{
    bottom: -5px;
    left: -5px;
}

[l-class*="top-r-0"]{
    top: -5px;
    right: -5px;
}

[l-class*="bottom-r-0"]{
    bottom: -5px;
    right: -5px;
}









input[type=range] {
    -webkit-appearance: none;
    margin: 20px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    background: #03a9f4;
    border-radius: 25px;
  }
  input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #03a9f4;
  }
  .range-wrap{
    width: 500px;
    position: relative;
  }
  .range-value{
    position: absolute;
    top: -50%;
  }
  .range-value span{
    width: 30px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #03a9f4;
    color: #fff;
    font-size: 12px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 6px;
  }
  .range-value span:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #03a9f4;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
  }