
body{
    width: 100vw;
    height: 100vh;
    background-color: #eee;
}

html{
    overflow: hidden;
}


.menu{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 100vh;
    background: rgb(255, 255, 255);
    opacity: 0.1;
    transition: 0.3s;
    overflow-x: hidden;
    padding: 0px;
    box-shadow: 0px 0px 5px rgba(34, 34, 34, 0.164);
    color: rgb(80, 80, 80);
}

.menu:hover{
    opacity: 1;
    width: 300px;
    padding: 10px;
}

.selected{
    outline: 2px solid rgba(65, 158, 245, 0.651);
}

.higlighted{
    outline: 2px solid rgba(65, 128, 245, 0.781);
}

.select:not(.selected):hover {
   outline: 2px solid rgba(173, 81, 81, 0.171);
}

.quickpanel{
    width: 600px;
    min-height: 200px;
    background: #fff;
    border-radius: 10px;
    position: fixed;
    top: 50vh;
    right: 50vw;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.205);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.quickpanel input{
    padding: 5px;
    border: none;
    outline: none;
    font-size: 20pt;
    color: #222;
    border-bottom: 1px solid #eee;
}

.subtext{
    font-size: 9pt;
    color: rgb(182, 182, 182);
}

.quickpanel .body{
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.quickpanel .body ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.quickpanel .body ul li{
 
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(78, 78, 78);
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

.quickpanel .body ul li:hover{
    background-color: #eee;
}


*::-webkit-scrollbar {
    width: 12px;
}
 
*::-webkit-scrollbar-track {
    background: rgba(228, 228, 228, 0.3); 
    border-radius: 10px;
}
 
*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(197, 197, 197); 
}

.l-text-edition{
    padding: 0px !important;
    margin: 0px !important;
    border: none !important;
    background: transparent !important;
    outline: none !important;
}

.ic-toolBox{
    padding-left: 5px;
    padding-right: 5px;
    position: fixed;
    width: 60vw;
    height: 40px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    top:10px;

    left: 30%;
    transform: translateX(-30%);

    /*
    Centralizar no eixo Y
    top: 50%;
    transform: translateY(-50%);

    Centralizar tudo.
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    */
}

.ic-toolBox {
    color: #eee;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.ic-toolBox .pickr{
    padding: 2px;
    margin-right: 10px;
}

.cl-btn{
    padding: 5px 10px !important;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 3px;
    color: rgb(126, 126, 126);
    margin: 2px;
    position: relative;
}

.pickr .pcr-button{
    width: 20px !important;
    height: 20px !important;
    border-radius: 100% !important;
    overflow: hidden;
    margin: 2px;
}

.lic-btn-downpdown{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
   
    background: rgb(255, 255, 255);
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
}

.lic-btn{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background: #fff;
    transition: 0.3s;
}
.lic-btn:hover{
    filter: saturate(0.5);
    filter: sepia(0.5);
}

.lic-btn-block{
    width: 100%;
}
.cl-btn:hover{
    background: #eee;
}

.cl-bg-danger{
    background: #FD413C !important;
}
.cl-bg-primary{
    background: #5F40A6 !important;
}
.cl-tc-danger{
    color: #FD413C !important;
}
.cl-tc-primary{
    color: #5F40A6 !important;
}

.cl-ct-white{
    color: #fff !important;
}

.cl-vl{
    border-left: 1px solid rgb(189, 189, 189);
    height: 90%;
    margin-top: 2px;
}

.cli-icon{
    width: 15px;
    height: 15px;
    background-color: rgb(157, 157, 157);
    mask: var(--icon) 100 no-repeat ;
    -webkit-mask: var(--icon) no-repeat  ;
    -webkit-mask-size: 100% 100%;
    mask-type: alpha;
}


#lic-canvas{
    position: absolute;
    display: flex;
   
    flex-direction: column;
    top: 0px;
}

#lic-canvas .lic-line{
    display: flex;
    flex-direction: row;
}

.lic-page{
    background: #fff;
    width: 1280px;
    min-height: 800px;
    box-shadow: 0px 0px 20px rgba(34, 34, 34, 0.164);
    margin:100px;
    position: relative;
}

.lic-page .app{
    width: 100%;
    height: 100%;
}


.lic-contextMenu{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 250px;
    min-height: 100px;
    background: #fff;
    box-shadow: 0px 0px 20px rgba(34, 34, 34, 0.164);
    border-radius: 5px;
    padding: 2px;

}

.lic-contextMenu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0px !important;
    cursor: pointer;
   
}
.lic-contextMenu ul li{
    padding: 0px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 5px 10px !important;
    font-size: 10pt;
}

.lic-contextMenu ul li:hover{
    background: rgb(245, 245, 245);
}

.tip{
    opacity: 0.5;
}

.lic-side-menu{
    position: fixed;
    width: 300px;
    height: 100vh;
    right: 0;
    background: #fff;
    border-left: 2px solid rgba(179, 179, 179, 0.247);
}
.lic-side-menu .component{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    border-bottom: 1px solid #e8e8e8;
}
.lic-pa-0{
    padding: 0px !important;
}

.outliner{
    width: 250px;
    height: 100vh;
    background: #fff;
    position: fixed;
    z-index: 2;
    left: 0;
    border-right: 2px solid rgba(34, 34, 34, 0.158);
}

.outliner ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
   
}

.outliner ul li{
    padding: 10px 5px;
    border: 1px solid transparent;
}
.outliner ul li:hover{
    border: 1px solid #5F40A6;
}

.tippy-box[data-theme~='light'] {
    background-color: rgb(255, 255, 255);
    color: rgb(160, 160, 160);
    box-shadow: 0px 0px 20px rgba(34, 34, 34, 0.164);
  }


  .tippy-box[data-theme~='light'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #fff;
  }
  .tippy-box[data-theme~='light'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: #fff;
  }
  .tippy-box[data-theme~='light'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: #fff;
  }
  .tippy-box[data-theme~='light'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: #fff;
  }